@(message : String)

<html>

<body>
<table>
<thead>
<th>Member Id</th>
<th>Name</th>
<th>Login Name</th>
<th>Title</th>
<th>Joined Date</th>
<th>Last Attended Date</th>
<th>Last Visited date</th>
<th>Intro</th>
<th>Photo</th>
<th>Assistant Organizer</th>
<th>Mailing List Type</th>
<th>Url</th>
</thead>
@Html(message)
</table>
<footer>
	<script type="text/javascript" src="http://www.resumescanner.net/static/scripts/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/assets/javascripts/jquery.tablesorter.js"></script>
</footer>
</body>
</html>